/* Write your custom CSS here */

.page-footer{
    height: min-content;
    margin-top: 0px;
}

#div-piePagina{
    
    bottom: 0px;    
    font-size: 0.9em;   
    width: 100%;
    padding: 5px; 
    background-color:#F4F4F4;
}

.profile-photo img{
    width: 50%;
}

.profile-photo {
    text-align: center;
}