.picker__date-display {
    background-color:#286DBD;
  }
  .picker__weekday-display {
    background-color:#1A477A;
  }
  .picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
    background-color:#FCCF2C;
  }

#btn_editar_foto{
    margin-left: -50px;
    margin-top: -50px;
}


#div_result_cropImage > img{
    max-width: 100%;
}


#div_result_cropImage{    
    height: 15em;
    width: 15em;
    overflow: hidden;
    margin-top: 20px;
}


.profile-photo > img{
  max-height: 25vh;
}
