body{
    background-image: url(../images/profile_bg.png);
}

.InputAddOn {
    display: flex;
  }
  
  .InputAddOn-field {
    flex: 1;
    /* field styles */
  }
  
  .InputAddOn-item {
    /* item styles */
  }

